@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0px;
    margin: 0px;
    font-family: "Montserrat", sans-serif;
}

body {
    height: 100vh;
    background-color: #000000;
}

.history-btn {
    position: absolute;
    display: block;
    top: 30px;
    left: 30px;
    padding: 10px;
    border: none;
    border-radius: 28px;
    background-color: #dbdbdb;
    box-shadow: 0px 0px 3px #ffffffb0;
    cursor: pointer;
    transition: all 0.3s ease;
}

.history-btn:hover {
    background-color: #ffffffb0;
}

.container {
    display: grid;
    grid-template-rows: 3fr 2fr;
    height: 100vh;
}

.container #previous-input {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    color: #fff;
    text-align: right;
    font-weight: 300;
}

.container .value-box {
    display: flex;
    height: 200px;
    overflow: hidden;
    justify-content: flex-end;
    align-items: center;
    font-size: 60px;
    color: #fff;
}

.container .buttons-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 5px;
    flex: 1;
    margin: 5px 10px;
}

.container .buttons-container button {
    cursor: pointer;
    padding: 20px;
    border-radius: 16px;
    font-weight: 800;
    /* font-size: 20px; */
}

.operation-btn {
    border: none;
    background-color: #2326ff;
    color: #fff;
}

.operation-btn:hover {
    background-color: #2327ffc7;
}

.number-btn {
    border: 1px solid #ffffff2c;
    background-color: #000000;
    color: #fff;
    box-shadow: 0px 0px 5px #ffffff49;
    transition: all 0.3s ease;
}

.equal-btn {
    background-color: #fff;
    border: 2px solid #808080;
    border-collapse: collapse;
}

.number-btn:hover {
    scale: 1.05;
    background-color: #131313;
}

@media screen and (max-width: 600px) {
    .container {
        grid-template-rows: 2fr 3fr;
    }
}